*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.header {
    background: #93BACE;
    margin-bottom: 58px;
    
}

.container {
    max-width: 1230px;
    width: 90%;
    margin: 0 auto;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0;
    width: 160px;
    height: 80px;
}

.header__menu {
    display: flex;
    align-items: center;

}

.header__menu-link {
    text-decoration: none;
    color: #fff;
    margin-right: 101px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.header__menu-link:last-child{
    margin-right: 0;
}

.socials {
    text-align: left;
}

.footer__social-link {

    margin-right: 30px;
}
.footer__social-link:last-child{
    margin-right: 0;
}

.icon {
    width: 40px;
    height: 40px;
    fill: #fff;
}

.icon-viber 

.icon-wp 

.icon-telega 

.main {
    display: flex;
    flex-direction: column;
}

.main-text {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #5B8BA2;
    margin-bottom: 83px;
}

.brands {
    text-align: center;
    max-width: 860px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 33.333%;
    margin-bottom: 41px;
}

.brand {
    margin-right: 100px;
}

.dia{
    margin-right: 56px;
}
.tosoh {
    margin-right: 76px;
}
.ortho{
    margin-right: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    display: none;
}

.bgfixed {
    background: url('../images/background.jpg') center / cover no-repeat;
    background-attachment: fixed;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0x);
    width: 100%;
    min-height: 30vh;
    margin-bottom: 50px;

}


.form {
    max-width: 830px;
    margin: 0 auto;
    margin-bottom: 147px;
    width: 90%;
}

.form *{
    outline: none;
}

.form__body{
    position: relative;
}
.form__body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/loading.gif') center / 50px no-repeat;
    opacity: 0;
    visibility: hidden; 
}
.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}

.form-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000;
    margin-bottom: 70px;
}

.form__item {
    margin-bottom: 17px;
    flex-basis: 50%;
}

.form__label {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    /* text-align: center; */
    color: #000000;
}

.form__input {
    border: 2px solid #5B8BA2;
    border-radius: 20px;
    width: 295px;
    height: 47px;
    padding: 0 20px;
    font-size: 18px;
    transition: .4s;
}

.form__input:focus{
    box-shadow: 0 0 10px #5B8BA2;
}

.form__input._error {
    border: 2px solid rgb(235, 120, 120);
    box-shadow: 0 0 5px red;
}

.form-comment{
    margin-bottom: 30px;
}

#formMessage{
    width: 350px;
    min-height: 137px;
    resize: none;
    padding: 20px 20px;
}

.form__button {
    background: #6693A8;
    border: 2px solid #50849C;
    border-radius: 15px;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    padding: 12px 56px;
    cursor: pointer;
    transition: .3s;
    
}
.form__button:hover{
    border: 2px solid #0a0061;
    background-color: rgb(64, 86, 145);
}
.form__button:active{
    transform: scale(0.8);
}

.form__rows {
    display: flex;
    justify-content: space-between;
}

.form__row-first{
    flex-basis: 50%;
}
.form__row-second {
    flex-basis: 50%;
    margin-left: 45px;
}

.footer {
    border-top: 1px solid #000;
    background-color: #6693A8;
    display: none;
    margin-top: 0;
}
.socfooter{
    padding: 41px 0;
}

.info {
    background-color: #6693A8;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
}


.info p {
    color: #fff;
    padding: 15px 0;
    font-weight: 500;
    font-size: 22px;
}
/* .info p span{
    color: #000;
} */

.info__row {
    padding: 40px 0;
    max-width: 830px;
    margin: 0 auto;
    width: 80%;
}




@media (max-width: 950px) {
    .header__menu-link {
        font-size: 18px;
    }
}
@media (max-width: 876px){
    .header .socials{
        display: none;
    }
    .footer{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}
@media (max-width: 836px){
    .brands {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .brand{
        object-fit: contain;
        flex-basis: 50%;
        margin-right: 0;
        margin-bottom: 45px;
    }

    .dia{
        padding-top: 55px;
    }
}

@media (max-width: 735px) {
    #formMessage{
        width: 300px;
    }
}
@media (max-width: 679px) {
    #formMessage{
        width: 250px;
    }
    .header__menu-link{
        margin-right: 60px;
    }
}
@media (max-width: 630px) {
    .form__rows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form__row-second {
        margin-left: 0;
    }

    #formMessage {
        width: 295px;
        justify-content: start;
    }

    .form__button {
        width: 100%;
    }
    .main-text{
        font-size: 39px;
    }
}
@media (max-width: 580px) {


    .header__menu {
        display: none;
    }
    .header__row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-width: 475px) {

    .brand{
        object-fit: contain;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 45px;
    }
    .dia {
        padding-top: 0;
        margin-bottom: 0;
    }
    .roche {
        margin-bottom: 0;
    }
    .tosoh{
        margin-bottom: 0;
    }
}
@media (max-width: 432px) {
    .form-title {
        font-size: 22px;
    }
    .main-text{
        font-size: 30px;
    }
    
}

